@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

h1 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 66px;
}

h2 {
    font-size: 52px;
    font-weight: 400;
    font-family: 'Golos Text', sans-serif;
    line-height: 66px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Golos Text', sans-serif;
}

h4 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Golos Text', sans-serif;
}

a, p {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Golos Text', sans-serif;
    line-height: 30px;
    text-decoration: none;
    color: $white;
}